@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgb(30 41 59);

}

* {
    color: white;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/*
 * react-calendar-heatmap styles
 *
 * All of the styles in this file are optional and configurable!
 * The github and gitlab color scales are provided for reference.
 */

.react-calendar-heatmap text {
    font-size: 5px;
    fill: #aaa;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
    font-size: 5px;
}

.react-calendar-heatmap rect:hover {
    stroke: #555;
    stroke-width: 1px;
}

/*
   * Default color scale
   */

.react-calendar-heatmap .color-empty {
    fill: #eeeeee;
}

.react-calendar-heatmap .color-filled {
    fill: #8cc665;
}

/*
   * Github color scale
   */

.react-calendar-heatmap .color-github-0 {
    fill: #eeeeee;
}

.react-calendar-heatmap .color-github-1 {
    fill: #d6e685;
}

.react-calendar-heatmap .color-github-2 {
    fill: #8cc665;
}

.react-calendar-heatmap .color-github-3 {
    fill: #44a340;
}

.react-calendar-heatmap .color-github-4 {
    fill: #1e6823;
}

/*
   * Gitlab color scale
   */

.react-calendar-heatmap .color-gitlab-0 {
    fill: #ededed;
}

.react-calendar-heatmap .color-gitlab-1 {
    fill: #acd5f2;
}

.react-calendar-heatmap .color-gitlab-2 {
    fill: #7fa8d1;
}

.react-calendar-heatmap .color-gitlab-3 {
    fill: #49729b;
}

.react-calendar-heatmap .color-gitlab-4 {
    fill: #254e77;
}

.color-scale-1 {
    fill: rgba(29, 248, 95, 0.664)
}

.color-scale-2 {
    fill: rgba(29, 248, 95, 0.664)
}

.color-scale-3 {
    fill: rgba(29, 248, 95, 0.767)
}

.color-scale-4 {
    fill: rgba(3, 78, 25, 0.767)
}